@page "/"
@page "/{categoryURL}"
@inject IProductService ProductService

<PageTitle>MyOnlineStore</PageTitle>

@*<h1>Hello, World!</h1>
Welcome to your new app.
*@
<ProductList />

@code{
	[Parameter]
	public string? CategoryURL { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		await ProductService.GetProducts(CategoryURL);
	}
}
